<head>
	<style></style>
</head>

<h1>
	<i class="fa fa-user-plus"></i>
	Upgrade Employees
	<i class="fa fa-times pull-right close-button"
	   close-all-ui></i>
</h1>

<div class="padding flex-column"
	 style="justify-content: center; height: 100%;">
	<div class="flex-row item-list"
		 style="min-height: 100%;">

		<div class="item"
			 style="min-width: 33%; min-height: 100%;">

			<h3 class="text-center"
				style="margin-bottom: 10px"><span localize="upgrade_levels"></span></h3>

			<div class="content">

				<div class="flex-column"
					 style="justify-content: flex-start;">
					<div class="flex-row"
						 style="flex-grow: fill">
						<table class="medium">
							<tbody>
								<tr>
									<td class="dimmed"><span localize="employees"></span></td>
									<td class="text-right">{{ dueCtrl.employeesToUpgrade | number: 0 }} / {{ dueCtrl.employeeNotExpert | number: 0 }}</td>
								</tr>
								<tr>
									<td class="dimmed"><span localize="beginner"></span></td>
									<td class="text-right">{{ dueCtrl.employeeBeginner | number: 0 }} / {{ dueCtrl.employeeBeginnerToUpgrade | number: 0 }}</td>
								</tr>
								<tr>
									<td class="dimmed"><span localize="intermediate"></span></td>
									<td class="text-right">{{ dueCtrl.employeeIntermediate | number: 0 }} / {{ dueCtrl.employeeIntermediateToUpgrade | number: 0 }}</td>
								</tr>
								<tr>
									<td class="dimmed"><span localize="price_per_month"></span></td>
									<td class="text-right">{{ dueCtrl.employeeCost }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="flex-row"
						 style="justify-content: center;">
						<div class="text-center"
							 style="margin: 0.5vh;">
							<button type="button"
									class="small green"
									ng-disabled="!dueCtrl.canEmployeeUpgrade"
									ng-click="dueCtrl.canEmployeeUpgrade && dueCtrl.upgradeEmployees(true)">
								<span localize="upgrade"></span> & <span localize="training"></span>
							</button>
						</div>
					</div>
					<div class="flex-row"
						 style="justify-content: center;">
						<div class="text-center"
							 style="margin: 0.5vh;">
							<button type="button"
									class="small blue"
									ng-disabled="!dueCtrl.canEmployeeUpgrade"
									ng-click="dueCtrl.canEmployeeUpgrade && dueCtrl.upgradeEmployees(false)">
								<span localize="upgrade"></span>
							</button>
						</div>
					</div>
					<!--<div class="flex-row"
						 style="justify-content: center;">
						<div class="text-center"
							 style="margin: 0.5vh;">
							<button class="small"
								ng-click="dueCtrl.autoUpgradeAndTrainingSwitch()"
								ng-class="{ blue: !dueCtrl.autoUpgradeAndTraining, red: dueCtrl.autoUpgradeAndTraining }">
								<span localize="{{ dueCtrl.autoString }}"></span>
							</button>
						</div>
					</div>-->
				</div>
			</div>
		</div>

	</div>
</div>
